*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all .3s linear;
}

:root{
    --color-light: #fff;
    --color-pramiry:#2165be;
    --color-dender:#ff5200;
    --color-dark:#000000c7;
    --background-top:#293356;
    --background-header:##777;
    --color-yellow: #ee2;
}

a{
    text-decoration: none;
}

a, i, p, span{
    font-size: 1.7rem;
}

html{
    font-size: 62.5%;
}
.container-max-width{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background: var(--background);
}

/* header */
.content-header{
    background-color: rgb(14, 50, 97);
}

/* top page */
.content-top-page{
    background: var(--background-top);
    color: var(--color-light);
}

.top-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.top-page .left i{
    margin-right: 1rem;
    font-size: 1.3rem;
}
.top-page .left a{
    margin-left: 1rem;
    font-size: 1.3rem;
}

.top-page .right .btn-top a{
    font-size: 1.3rem;
    margin-left: 1rem;
    padding: .8rem 1rem;
    background: var(--color-dender);
    border-radius: 1rem;
}

/* heade-item */
.head-item{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

 /* logo  */
.logo{
    max-width: 10rem;
}

/* icon */
.open-icon, .close-icon {
    display: none;
}

.head-item .links{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.head-item .links a{
    font-size: 1.5rem;
}

/* search */
.wrap{
    display: none;
}

.searchs {
    width: 100%;
    position: relative;
    display: flex;
}

.searchButton-top {
    width: 50px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
}

.searchButton-top ion-icon{
    color: #fff;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: .1rem solid #646464;
    border-right: none;
    padding: 10px;
    height: 40px;
    outline: none;
    font-size: 17px;
}

.searchTerm:focus{
    color: rgb(145, 145, 145);
}

.searchButton {
    width: 50px;
    height: 40px;
    border: 1px solid #646464;
    text-align: center;
    cursor: pointer;
    font-size: 1.7rem;
    outline: none;
    border-left: none;
    background-color: #fff;
}

.searchButton ion-icon{
    color: #6f6f6f;
}

.btn-bottom{
    color: #fff;
    display: none;
}
/* end of header */

/* hero */
.hero{
    padding: 1.5rem;
}
.content-hero h1{
    font-size: 2.7rem;
    color: #555555;
    padding: 1rem 0 .5rem;
    text-align: center;
    font-weight: bold;
}
.content-hero h2{
    font-size: 2.5rem;
    color: #555555;
    padding: 1rem 0 .5rem;
    font-weight: bold;

}
.content-hero h3{
    font-size: 2rem;
    color: #555555;
    padding: .5rem;
    font-weight: bold;

}
.content-hero .texts p{
    line-height: 1.7;
    color: #555555;
}
.content-hero .texts-center p{
    line-height: 1.7;
    color: #555555;
    text-align: center;
}

.hero-grid-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* container hero */
.container-hero{
    display: flex;
    gap: 1rem;
    padding-top: 5rem;
}
/* left */
.content-left{
    width: 70%;
    background: rgb(255, 255, 255);
    border: .1rem solid #898989;
    padding: 1rem 1.5rem;
}
.content-left span{
    font-size: 1.3rem;
    font-weight: bold;
    color: #555555;
}
.image-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.image-center .image{
    max-width: 100%;
}
.image-center .image img{
    width: 100%;
}

.content-left .list{
    line-height: 1.9;
    color: #555555;
    font-size: 1.7rem;
    padding: 1rem 0 1rem 2rem;
}
.content-left .un-list{
    line-height: 1.9;
    color: #555555;
    font-size: 1.7rem;
    padding: 1rem 0 1rem 2rem;
}
.icons-contect{
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icons-contect i{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    border: .1rem solid #555555;
    color: #898989;
}

.icons-contect i:hover{
    background-color: #2165be;
    color: #fff;
}

/* rigth */
.content-rigth{
    width: 30%;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem .5rem;
}
.image-rigth {
    max-width: 100%;
}

.image-rigth img{
    width: 100%;
}
.content-rigth span{
    background: #1a264b;
    width: 100%;
    padding: 1rem;
    color: #fff;
}
table, th, td {
    border: 1px solid rgb(205, 205, 205);
    border-collapse: collapse;
    font-size: 1.7rem;
    color: #555555;
    padding: 1rem;
  }






/* footer */
.footer-1{
    padding: 1rem 0;
    background-color:var(--background-top);
}

.footer .image-footer{
    border: .2rem solid #fff;
}

.footer .image-footer {
    display: flex;
    gap: 2rem;
}

.footer .image-footer .image{
    max-width: 20rem;
}
.footer .image-footer .image img{
    width: 100%;
}
.footer-2{
    background: #2a4594;
    padding: 3rem;
}
.footer-text span{
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #fff;
}
.footer-text .copy{
    display:flex;
    justify-content: center;
    color: #fff;
    padding: 3rem;
}
.footer-text .copy i{
    margin-right: 1rem;
}



















@media (max-width: 768px) {
    html{
        font-size: 55%;
    }
    .top-page{
        display: none;
    }
    .wrap{
         display: block;
         width: 100%;
         position: absolute;
         top: 0;
         padding: 5rem 3rem;
         z-index: -1;
         margin-top: 3rem;
    }
    .logo{
        display: flex;
        justify-content:end;
        align-items: center;
    }
    .head-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-bottom{
        display: flex;
        justify-content: center;
        background-color: #1a264b;
        align-items: center;
        text-align: center;
        padding: 1rem 0;
    }
    .btn-bottom a{
        font-size: 1.3rem;
        background: var(--color-dender);
        margin: 0 .5rem;
        padding: .8rem 1.3rem;
        border-radius: 1rem;
    }
    .open-icon {
        display: block;
        position: absolute;
        left: 0;
    }
    .open-icon ion-icon {
        font-size: 3rem;
        padding: 0 3rem;
        color: #fff;
    }
    .close-icon {
        display: flex;
        justify-content: end;
        opacity: 80;
    }
    .close-icon ion-icon{
        color: #6f6f6f;
        padding: 1rem 1rem;
        font-size: 3rem;
        opacity: 80;
        z-index: 10;
    }
    .nav-lists{
        background: #d6d6d6;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        z-index: -1;
        margin-top: 14rem;
       
    }
    .nav-lists a{
        color: #6f6f6f;
        padding: 1.7rem 0rem;
        font-weight: bold;
        font-size: 1.5rem;
        border-top: .1rem solid #f1f1f1;
        padding: 2rem 3rem;
    }
    .nav-lists a:hover{
        color: #000;
        background-color: #e3e3e3;
    }
    .btncenter {
        display: inline-block;
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 1.5rem 1rem;
        background-color: var(--color-dark);
    }
    .btncenter button{
        background:var(--color-pramiry);
        margin: 0 1.5rem;
        padding: .8rem  2rem;
        font-size: 1.7rem ;
        color: var(--color-light);
        border-radius: 1.8rem;
        font-weight: bold;
    }
    .btncenter button:hover{
        background: rgb(11, 77, 132);
    }
    .contect{
        padding:1rem 2rem ;
    }
    .contect i{
        display: inline-block;
        outline: none;
        font-size: 2rem;
        padding: 0 1rem;
        text-align: center;
        cursor: pointer;
        color: #919191;
    }
    .contect i:hover{
        color:#000;
    }
    nav {
        background-color: #d6d6d6;
        position: fixed !important;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        position: relative;
        overflow-x: hidden;
        transition: 0.5s;
        padding: 0px !important;
    }
    .head-item .links{
        display: none;
    }
    /* hero */
    .hero-grid-img{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
    }
    .content-flex .image,
    .content-flex .text{
        width: 100%;
    }
    .content-flex{
        display: flex;
        flex-direction: column;
    }
    .container-hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    .container-hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content-left{
        width: 100%;
    }
    .content-rigth{
        width: 100%;
    }

}