<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/blog.css">
    <link
    rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="icon" href="../img/nap88-logo.png">
    <title>Nap88 - Sân chơi đổi thưởng trực tuyến số 1 Châu</title>
</head>
<body>

    <!-- header -->
    <header>
        <!-- top page -->
        <div class="content-top-page">
            <div class="top-page container-max-width">
                <div class="left">
                    <i class="ion-social-facebook"></i>
                    <i class="ion-social-instagram"></i>
                    <i class="ion-social-twitter"></i>
                    <i class="ion-ios-email"></i>
                    <a href="#">Giới thiệu</a>
                    <a href="#">Chính sách bảo mật</a>
                    <a href="#">Liên hệ</a>
                </div>
                <div class="right ">
                    <div class="btn-top">
                        <a href="https://www.hay88.one/?inviteCode=9075562" class="">ĐĂNG KÝ</a>
                        <a href="https://www.hay88.one/?inviteCode=9075562"> THAM GIA NGAY</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-header">

            <!-- head-item  -->
            <div class="head-item container-max-width">
                <div class="open-icon " onclick="OpenNav()"><ion-icon name="menu"></ion-icon></div>
    
                <div class="logo cursor-pointer">
                    <img src="../img/logo-n88.png">
                </div>
                              
                <nav id="nav">
                    <div class="close-icon">
                        <ion-icon onclick="CloseNav()" name="close" class=""></ion-icon>
                    </div>
                    
                    <div class="wrap">
                        <div class="search">
                           <input type="text" class="searchTerm" placeholder="Search...">
                           <button type="submit" class="searchButton">
                            <ion-icon name="search"></ion-icon>
                          </button>
                        </div>
                     </div>
                     
                    <div class="nav-lists md:hidden">
                        <a href="../index.html">Trang chủ</a>
                        <a href="../components/nap.html">Nạp tiền Nap88</a>
                        <a href="../components/nap.html">Rút tiền Nap88</a>
                        <a href="../components/khuy.html">Khuyến mãi Nap88</a>
                        <a href="../components/hd.html">HD đăng ký Nap88</a>
                        <a href="../components/tai.html">Tải app Nap88</a>
                        <a href="#">Blog</a>
                        <div class="contect">
                            <i class="ion-social-facebook"></i>
                            <i class="ion-social-instagram"></i>
                            <i class="ion-social-twitter"></i>
                            <i class="ion-ios-email"></i>
                        </div>
                    </div>
    
                    <div class="links text-white hidden md:block">
                        <a class="item" href="../index.html">Trang chủ</a>
                        <a class="item" href="../components/nap.html">Nạp tiền Nap88</a>
                        <a class="item" href="../components/rut.html">Rút tiền Nap88</a>
                        <a class="item" href="../components/khuy.html">Khuyến mãi Nap88</a>
                        <a class="item" href="../components/hd.html">HD đăng ký Nap88</a>
                        <a class="item" href="../components/tai.html">Tải app Nap88</a>
                        <a class="item active" href="#">Blog</a>
                    </div>
                </nav>
    
                <div class="hidden md:block">
                    <div class="searchs">
                        <button type="submit" class="searchButton-top">
                          <ion-icon name="search"></ion-icon>
                       </button>
                     </div>
                </div>
                
            </div>
            <!-- end of head item -->
            <div class="btn-bottom">
                    <a href="https://www.hay88.one/?inviteCode=9075562https://www.hay88.one/?inviteCode=9075562" class="">ĐĂNG KÝ</a>
                    <a href="https://www.hay88.one/?inviteCode=9075562https://www.hay88.one/?inviteCode=9075562"> THAM GIA NGAY</a>
            </div>
            
        </div>
    </header>
    <!-- end of header -->

    <!-- hero -->
     <section class="hero">
        <div class="content-hero container-max-width">
            <div class="container-hero">
                
                <!-- left -->
                <div class="content-left">
                    <div class="grid-2x1">
                        <article class="box-card">
                            <div class="image">
                                <img src="../img/b1.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h4>Thể Thao Sbobet – Điểm Giải Trí Uy Tín Hàng Đầu Châu Á</h4>
                                <p>Sảnh thể thao Sbobet là một phần của nhà cái Sbobet, một nhà cái cá cược trực tuyến phổ biến và được ...</p>
                            </div>
                        </article>
                        <article class="box-card">
                            <div class="image">
                                <img src="../img/b2.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h4>Tìm Hiểu Tỷ Lệ Kèo Sbobet Trong Cá Cược Thể Thao Chi Tiết</h4>
                                <p>Tìm kiếm tỷ lệ kèo Sbobet chính xác là chìa khóa vàng mở ra cánh cửa chiến thắng trong cá cược thể ...</p>
                            </div>
                        </article>
                        <article class="box-card">
                            <div class="image">
                                <img src="../img/b3.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h4>Sảnh Game 3D Sbobet Có Gì? Hướng Dẫn Bạn Cách Chơi</h4>
                                <p>Game 3D Sbobet ra đời mang đến làn sóng mới cho cộng đồng người chơi cá cược tại nhà cái này. Với ...</p>
                            </div>
                        </article>
                        <article class="box-card">
                            <div class="image">
                                <img src="../img/b4.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h4>Đăng Nhập Sbobet Cực Nhanh Chóng Bằng Website Hoặc App</h4>
                                <p>Đăng nhập Sbobet là hành động người chơi thực hiện khi đã có tài khoản game tại đây. Hiện nay, nhà cái ...</p>
                            </div>
                        </article>
                        <article class="box-card">
                            <div class="image">
                                <img src="../img/b5.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h4>Review Sảnh Thể Thao Sv388 – 4 Sản Phẩm Cá Cược Hấp Dẫn </h4>
                                <p>Thể thao Sv388 là sảnh cá cược không thể bỏ lỡ khi ghé thăm nhà cái này. Tại sảnh game này tập ...</p>
                            </div>
                        </article>
                        <article class="box-card">
                            <div class="image">
                                <img src="../img/b6.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h4>Đá Gà Sv388 – Địa Chỉ Cá Cược Đấu Gà Uy Tín Top 1 Việt Nam</h4>
                                <p>Đăng nhập Sbobet là hành động người chơi thực hiện khi đã có tài khoản game tại đây. Hiện nay, nhà cái ...</p>
                            </div>
                        </article>
                        <article class="box-card">
                            <div class="image">
                                <img src="../img/b7.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h4>FAQ SV388 – Giải Đáp Câu Hỏi Liên Quan Đến SV388 Chi Tiết</h4>
                                <p>FAQ SV388 là những nội dung tổng hợp của tất cả những thắc mắc xoay quanh đến nhà cái SV388. Những giải ...</p>
                            </div>
                        </article>
                        <article class="box-card">
                            <div class="image">
                                <img src="../img/b8.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h4>Cách Tải App SV388 Dễ Thực Hiện Và Chuẩn Xác Hiện Nay</h4>
                                <p>Tải app SV388 mang đến hiệu quả giải trí mượt mà, an toàn và tiện ích cho người sử dụng. Cùng với ...</p>
                            </div>
                        </article>
                        <article class="box-card">
                            <div class="image">
                                <img src="../img/b9.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h4>Cập Nhật Khuyến Mãi SV388 Chi Tiết Cho Người Chơi Săn Đón</h4>
                                <p>Khuyến mãi SV388 ngày càng được nhà cái phát triển đa dạng nội dung và nâng cao giá trị thưởng. Chính vì ...</p>
                            </div>
                        </article>
                        <article class="box-card">
                            <div class="image">
                                <img src="../img/b10.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h4>Hướng Dẫn Rút Tiền Sv388 Nhanh Chóng Và An Toàn Trong 3 Phút</h4>
                                <p>Rút tiền Sv388 có rất nhiều cách với thủ tục dễ thực hiện. Ngay cả khi bạn không có Internet banking, thì ...</p>
                            </div>
                        </article>
                    </div>
                    <div class="icons-contect">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-solid fa-envelope"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                </div>

                <!-- rigth -->
                <div class="content-rigth">
                    <span>Bài viết mới</span>
                    <table style="width:100%">
                        <tr>
                            <td>Thể Thao Sbobet – Điểm Giải Trí Uy Tín Hàng Đầu Châu Á</td>
                        </tr>
                        <tr>
                          <td>Tìm Hiểu Tỷ Lệ Kèo Sbobet Trong Cá Cược Thể Thao Chi Tiết</td>
                        </tr>
                        <tr>
                           <td>Sảnh Game 3D Sbobet Có Gì? Hướng Dẫn Bạn Cách Chơi</td>
                        </tr>
                        <tr>
                          <td>Đăng Nhập Sbobet Cực Nhanh Chóng Bằng Website Hoặc App</td>
                        </tr>
                        <tr>
                           <td>Review Sảnh Thể Thao Sv388 – 4 Sản Phẩm Cá Cược Hấp Dẫn </td>
                        </tr>
                    </table>
                    <span>Chuyên mục</span>
                    <table style="width:100%">
                        <tr>
                            <td>Blog</td>
                        </tr>
                        <tr>
                          <td>Nhà cái</td>
                        </tr>
                        <tr>
                           <td>Top Game Bài</td>
                        </tr>
                        <tr>
                          <td>Soi kèo bóng đá</td>
                        </tr>
                        <tr>
                           <td>Top Game Slot </td>
                        </tr>
                        <tr>
                           <td>Xổ số</td>
                        </tr>
                        <tr>
                          <td>Bắn cá</td>
                        </tr>
                        <tr>
                           <td>Đá gà</td>
                        </tr>
                    </table>
    
                </div>
                
            </div>  
        </div>
     </section>
    <!-- end of hero -->

    <footer>
        <div class="footer-1">
            <div class="footer container-max-width">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image-footer">
                                <div class="image">
                                    <img src="../img/footer.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-footer">
                                <div class="image">
                                    <img src="../img/footer1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-footer">
                                <div class="image">
                                    <img src="../img/footer2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-footer">
                                <div class="image">
                                    <img src="../img/footer3.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-footer">
                                <div class="image">
                                    <img src="../img/footer4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-footer">
                                <div class="image">
                                    <img src="../img/footer5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-footer">
                                <div class="image">
                                    <img src="../img/footer6.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-footer">
                                <div class="image">
                                    <img src="../img/footer7.png" alt="">
                                </div>
                            </div>
                        </div>
    
                  </div>
                </div>
            </div>
        </div>
        <div class="footer-2">
            <div class="footer-text container-max-width">
                <span>Cờ bạc có thể gây nghiện, hãy chơi có trách nhiệm. Để biết thông tin về các biện pháp hỗ trợ, vui lòng truy cập trang trợ giúp của chúng tôi.</span>
                <div class="copy">
                    <p>Copyright 2024 <i class="fa-solid fa-copyright"></i></p>
                    <img src="../img/footer8.png" alt="">
                </div>

            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="../js/app.js"></script>
    
</body>
</html>